:root {
    --color: darkblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color);
    padding: 10px;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto; 
}

.grid {
    display: grid;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 2px;
    text-decoration: none;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    padding: 10px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid thick;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding-left: 1rem;   
}

main {
    width: 500px;
    grid-column: 2;
}

aside {
    width: 20rem;
    position: relative;
    grid-row: 1;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 80px;
    left: 50px;
    color: #eee;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(74, 74, 75, 0.2);
    text-align: center;
}

/* Class Selectors */

.box {
    margin-top: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}